-# in app/views/movies/same_director.html.haml

%h2 Movies with the same director 
- @movies.each do |m|
  %%ul
    %li
      Title: #{m.title}
      
    %li
      Rating: #{m.rating}
    %li
      
      
